body{
	background: url('pics/abst.jpg') repeat 0 0;
}
img{
	width: 25%;
    padding-bottom: 10px;
}
h1{ 
	font-weight: 300;
	color: #ffff33;
	padding-left:  80px;
	overflow-wrap: break-word; 
	width: auto;
	padding-bottom: 25px;
}
.container{
	border-radius: 15px 15px 15px 15px;
	font-size: 20px;
	font-family: Brush Script MT, Brush Script Std, cursive;
	background-image: url('pics/purple.jpg');
	color: yellow;
width: 25%;
	border: 5px solid black;
	margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5px;
}
.container input{
 width: 60%;
}
.container .g{
    padding-left: 100px;
	padding-bottom: 5px;
}
input[type='submit']{

	border-radius: 5px 5px 5px 5px;
	padding: 0px;
	outline: none;
	background-color: #DF4930;
}
.container label{
	display: block;
}
